@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

body{
    background-attachment: fixed;
    background-color:aliceblue;
    
    
}
body h1{
    text-align: center;
    margin-top: 2px;
}

#signupform {
    color: black;
    text-align: center;
    width: 28%;
    margin-left: 35%;
    margin-top: 5px;
    border: #c1c1c1 solid 4px;
    height: fit-content;
    background: none;
    padding: 2rem;
  }
#signupform h3{
    margin-top: -30px;
}
#email, #name, #password{
    text-align: left;
    padding: 1px;
    
}
button{
    margin-top: 5px;
    padding: 2px;
    border-radius: 2rem;
    background-color: rgb(122, 122, 210);
}
